<body class="caset-study-page no-header-wrapper">

  <!-- ******Services Section****** -->
  <section id="services" class="services section">
      <div class="container text-center">
          <h2 class="title">Services</h2>
          <p class="intro">We offer lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          <div class="service-items row">
              <div class="item col-xl-3 col-md-6 col-12">
                  <div class="item-inner">
                      <div class="header-box">
                          <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                      </div><!--//header-->
                      <div class="desc">
                          <h3 class="sub-title">Silkscreen Printing</h3>
                          <p>Silkscreen printing is one of the most common printing method. It is the process of transferring ink through the screen and onto the apparel. </p>
                          <p><strong>Advantages</strong></p>
                          <p>1) Very Durable and long lasting</p>
                          <p>2) Very cost efficient for large quantities</p>
                          <p>3) Wide variety of colours ; Able to follow Pantone colour</p>
                          <p><strong>Disadvantages</strong></p>
                          <p>1) Expensive for small quantities</p>
                          <p>2) Expensive for multiple coloured designs</p>
                      </div>
                  </div><!--//item-inner-->
              </div><!--//item-->
              <div class="item col-xl-3 col-md-6 col-12">
                  <div class="item-inner">
                      <div class="header-box">
                          <span class="fs1" aria-hidden="true" data-icon="&#xe0ea;"></span>
                      </div><!--//header-->
                      <div class="desc">
                          <h3 class="sub-title">Digital &amp; Vinyl Heat Transfer Printing</h3>
                          <p>Digital &amp; Vinyl Heat Transfer Printing is the process of using a film and transferring it onto the apparel via intense heat.</p>
                          <p>A) For Digital Heat Transfer Printing, this printing method has the ability to do up multiple coloured designs and even gradient colours.</p>
                          <p><strong>Advantages</strong></p>
                          <p>1) Versatile and can be printed on many material</p>
                          <p>2) Most cost friendly for multiple-coloured designs for small quantities</p>
                          <p>3) Able to print out Gradient Effect</p>
                          <p><strong>Disadvantages</strong></p>
                          <p>1) Not so durable </p>
                          <p>2) Colours may fade away with time</p>
                          <p>3) Recommended to hand wash. Not suitable to be placed in dryer</p>
                      </div>
                  </div><!--//item-inner-->
              </div><!--//item-->
              <div class="item col-xl-3 col-md-6 col-12">
                  <div class="item-inner">
                      <div class="header-box">
                          <span class="fs1" aria-hidden="true" data-icon="&#xe003;"></span>
                      </div><!--//header-->
                      <div class="desc">
                          <h3 class="sub-title">Hosting</h3>
                          <p>Cras mollis ex sed tortor finibus, a mattis risus rhoncus. Sed sodales et metus at sodales. Ut non dolor sollicitudin, venenatis mauris eget, fringilla enim. Pellentesque sed magna ante. Cras mollis tincidunt lectus vitae suscipit.</p>
                      </div>
                  </div><!--//item-inner-->
              </div><!--//item-->
              <div class="item col-xl-3 col-md-6 col-12">
                  <div class="item-inner">
                      <div class="header-box">
                          <span class="fs1" aria-hidden="true" data-icon="&#xe028;"></span>
                      </div><!--//header-->
                      <div class="desc">
                          <h3 class="sub-title">Support</h3>
                          <p>Aliquam efficitur, lorem blandit dapibus viverra, erat turpis placerat lacus, quis hendrerit libero sem eget dui. Integer eu diam orci. Nullam sed dictum lorem. Quisque ut lacus non enim aliquam pretium sit amet id augue.</p>
                      </div>
                  </div><!--//item-inner-->
              </div><!--//item-->
          </div><!--//row-->
          <a class="btn btn-cta btn-cta-primary" href="contact.html">Get a quote</a>
      </div><!--//container-->
  </section>

  <app-call-to-action></app-call-to-action>