.header-wrapper-faq {
  background: #65758e url('../../assets/images/faq_darken.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.btn.title {
  font-size: 1em;
}