<body class="contact-page no-header-wrapper">

    <!-- ******Contact Section****** -->
    <section class="contact-section section">
        <div class="container">
            <h2 class="title text-center">Customize your shirts with us today</h2>
            <p class="intro text-center">Send us a message if you have questions for us or to find out more about our services. We would love to hear from you!</p>
            <ul class="contact-info list-inline text-center">
                <li class="tel list-inline-item"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><br /> <a href="tel:+65 9758 1071">+65 9758 1071</a></li>
                <li class="email list-inline-item"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br /> <a href="mailto:sales@tjg.sg">sales@tjg.sg</a></li>
            </ul>
            <form id="contact-form" class="contact-form form validate" method="post" action="https://tjg.us18.list-manage.com/subscribe/post?u=9f6a6cd28cfe642c2c203c876&amp;id=c9ca3040eb" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="row text-center">
                    <div class="contact-form-inner col-lg-8 col-12 mr-lg-auto ml-lg-auto">
                        <div class="row">
                            <div class="col-md-6 col-12 form-group">
                                <label class="sr-only" for="mce-FNAME">Your firstname</label>
                                <input type="text" class="form-control" id="mce-FNAME" name="FNAME" placeholder="Your firstname" required>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <label class="sr-only" for="mce-LNAME">Your lastname</label>
                                <input type="text" class="form-control" id="mce-LNAME" name="LNAME" placeholder="Your lastname" required>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <label class="sr-only" for="mce-MOBILE">Your mobile number</label>
                                <input type="tel" class="form-control" id="mce-MOBILE" name="MOBILE" placeholder="Your mobile" required>
                            </div>
                            <div class="col-md-6 col-12 form-group">
                                <label class="sr-only" for="mce-EMAIL">Your email address</label>
                                <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" required>
                            </div>
                            <div class="col-12 form-group">
                                <label class="sr-only" for="mce-MESSAGE">Your message</label>
                                <textarea class="form-control" id="cmessage" name="MESSAGE" placeholder="Enter your message" rows="12" required></textarea>
                            </div>
                            <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                             <div class="col-12 form-group">
                                <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                            </div>
                        </div><!--//row-->
                    </div>
                </div><!--//row-->
                <div id="form-messages"></div>
            </form><!--//contact-form-->
            <p class="intro text-left">All fields required.</p>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MESSAGE';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div><!--//container-->
    </section><!--//contact-section-->
