<body class="about-page">
    <div class="header-wrapper header-wrapper-about">
      <!-- HEADER PARTIALS -->
      <script type="text/javascript" src="./partials/header.js"></script>
    </div><!--//header-wrapper-->

    <!-- ******team Section****** -->
    <section id="team" class="team section">
        <div class="container">
            <h2 class="title text-center">Who are we?</h2>
            <p class="intro text-center">TheJerrardGarage is a t shirt printing Singapore Company that specalised in customised shirts printing. We deliver good quality printing at competitive pricing with reliable delivery. No minimum order is required.
            <br><br>
            Our products have a wide variety range from dri-fit t-shirts, cotton t-shirts, polo tees, singlets, hoodies, draw strings bags and many more. Suitable for all events and occasions which you can print for your company tees, class t-shirts, couple t-shirts and individual apparels. We allow you to personalised and design apparel that you desire.
            <br><br>
            We provide an extensive printing technique from the commonly used method silkscreen printing to the popular Direct-to-Garment printing, embroidery and many more printing options.
            <br><br>
            Our customer satisfaction will always be our pride and joy. We guarantee excellent customer service and quality assurance.  We dare say we are the cheapest t shirt printing in Singapore too!</p>
        </div><!--//container-->
        <div class="col-12 text-center">
          <a class="btn btn-cta btn-cta-secondary" href="https://www.facebook.com/tjgsingapore/" target="_blank" style="text-center">Browse our portfolio</a>
        </div>
    </section><!--//team-section-->
