<body class="case-study-page no-header-wrapper">

  <div *ngFor="let product of products">
    <div *ngFor="let category of product.subCategories">
      <div *ngFor="let item of category.items">

        <article class="case-study-article article" *ngIf="item.itemName === itemName">
          <div class="container">
            <h1 class="project-title text-center">{{item.itemName}}</h1>
            <h2 class="project-type text-center">{{product.categoryName}}</h2>
            <div class="row">
              <div class="content-wrapper col-lg-5 col-md-6 col-12 order-md-12">
                <div class="content">
                  <section class="content-section">
                    <h3 class="section-title">Sizing</h3>
                    <p>{{item.sizing}}</p>
                  </section>
                  <!--//content-section-->
                  <section class="content-section">
                    <h3 class="section-title">Material</h3>
                    <p>{{item.material}}</p>
                  </section>
                  <!--//content-section-->
                  <section class="content-section" *ngIf="item.description">
                    <h3 class="section-title">Description</h3>
                    <p style="white-space:pre-wrap">{{item.description}}</p>
                  </section>
                  <!--//content-section-->
                </div>
                <!--//content-->
              </div>
              <!--//content-wrapper-->
              <div class="media-wrapper col-lg-7 col-md-6 col-12 order-md-1">
                <div class="featured">
                  <a href="{{item.sizeChart}}" data-gallery>
                    <img class="img-fluid" src="{{item.sizeChart}}" alt="Size Chart" />
                  </a>
                </div>
                <div id="links" class="thumbs row">
                  <div class="item col-6">
                    <a href="{{item.image1}}" data-gallery>
                      <img class="img-fluid" src="{{item.image1}}" alt="{{item.itemName}}" />
                    </a>
                  </div>
                </div>
                <!--//thumbs-->
              </div>
              <!--//media-wrapper-->

            </div>
            <!--//row-->
            <div class="text-right">
              <button class="btn btn-cta btn-cta-primary" type="button" onclick="history.back()">Back</button>
            </div>
          </div>
          <!--//container-->
        </article>
        <!--//case-study-->

      </div>
    </div>
  </div>
