<div *ngFor="let product of products">

    <div class="items-wrapper isotope row" fxLayout="row" *ngIf="!selectedCategory">
      <div class="item col-lg-4 col-md-6 col-12" *ngFor="let subCategory of product.subCategories">
        <div class="item-inner">
          <figure class="figure">
            <a (click)="onSelectSubCat(subCategory)">
              <img class="img-fluid" src="{{subCategory.imageLink}}" alt="{{subCategory.subCatName}}" />
            </a>
            <a class="info-mask" (click)="onSelectSubCat(subCategory)">
              <span class="desc" >{{itemDesc | slice:0:200}}</span>
              <span class="btn btn-cta btn-cta-primary">View product</span>
            </a>
            <!--//info-mask-->
          </figure>
          <div class="content text-left">
            <h3 class="sub-title">
              <a (click)="onSelectSubCat(subCategory)">{{subCategory.subCatName}}</a>
            </h3>
            <div class="meta">{{product.categoryName}}</div>
          </div>
          <!--//content-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>
    <!--//items-wrapper-->

    <div class="items-wrapper isotope row" fxLayout="row" *ngIf="product.categoryName === selectedCategory">
      <div class="item col-lg-4 col-md-6 col-12" *ngFor="let subCategory of product.subCategories">
        <div class="item-inner">
          <figure class="figure">
            <a (click)="onSelectSubCat(subCategory)">
              <img class="img-fluid" src="{{subCategory.imageLink}}" alt="{{subCategory.subCatName}}" />
            </a>
            <a class="info-mask" (click)="onSelectSubCat(subCategory)">
              <span class="desc">{{itemDesc | slice:0:200}}</span>
              <span class="btn btn-cta btn-cta-primary">View product</span>
            </a>
            <!--//info-mask-->
          </figure>
          <div class="content text-left">
            <h3 class="sub-title">
              <a (click)="onSelectSubCat(subCategory)">{{subCategory.subCatName}}</a>
            </h3>
            <div class="meta">{{product.categoryName}}</div>
          </div>
          <!--//content-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>
    <!--//items-wrapper-->

    <div *ngFor="let subCategory of product.subCategories">
    <div class="items-wrapper isotope row" fxLayout="row" *ngIf="subCategory.subCatName === selectedCategory">

      <div class="item col-lg-4 col-md-6 col-12" *ngFor="let item of subCategory.items">
        <div class="item-inner" >
          <figure class="figure">
            <a (click)="onSelectItem(item)">
              <img class="img-fluid" src="{{item.imageLink}}" alt="{{item.itemName}}" />
            </a>
            <a class="info-mask" (click)="onSelectItem(item)">
              <span class="desc">{{item.description | slice:0:200}}</span>
              <span class="btn btn-cta btn-cta-primary">View product</span>
            </a>
            <!--//info-mask-->
          </figure>
          <div class="content text-left">
            <h3 class="sub-title">
              <a (click)="onSelectItem(item)">{{item.itemName}}</a>
            </h3>
            <div class="meta">{{subCategory.subCatName}}</div>
          </div>
          <!--//content-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>

    </div>
    <!--//items-wrapper-->
    <!--//items-wrapper-->
</div>
