<body class="case-study-page">
  <!-- ******Work list Section****** -->
  <section id="work-list" class="section work-list">
    <div class="container text-center">
      <h2 class="title">Products</h2>
      <div id="filters" class="button-group clearfix">
        <button class="btn button is-checked" data-filter="*">All</button>
        <button class="btn button" data-filter=".t-shirt">T-Shirt</button>
        <button class="btn button" data-filter=".polo">Polo T-Shirt</button>
        <button class="btn button" data-filter=".outerwear">Outerwear</button>
        <button class="btn button" data-filter=".windbreakers">Windbreakers</button>
        <button class="btn button" data-filter=".singlets">Singlets</button>
        <button class="btn button" data-filter=".bottoms">Bottoms</button>
        <button class="btn button last" data-filter=".accessories">Accessories</button>
      </div>
      <!--//filters-->
      <app-product-list></app-product-list>
    </div>
    <!--//container-fluid-->
  </section>
  <!--//work-list"-->
