<body class="case-study-page no-header-wrapper">
  

  <!-- ******Work list Section****** -->
  <section id="work-list" class="section work-list">
    <div class="container text-center">
      <h2 class="title" *ngIf="!productCategoryName">All Products</h2>
      <h2 class="title" *ngIf="productCategoryName">{{productCategoryName}}</h2>
      <div id="filters" class="button-group clearfix">
        <!-- <button class="btn button" data-filter="*" (click)="selectAll()" [class.is-checked]="products === [] || selectedCategory === products">All</button>
        <button class="btn button" data-filter=".t-shirt"  *ngFor="let product of products" (click)="onSelect(product)" [class.is-checked]="selectedCategory === product.categoryName">{{product.categoryName}}</button> -->
        <li class="btn button dropdown" [class.is-checked]="productCategoryName === product.categoryName" *ngFor="let product of products">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" (click)=onSelect(product) >{{product.categoryName}}
            <i class="fa fa-angle-down"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" *ngFor="let subCategory of product.subCategories" (click)=onSelectSubCat(subCategory)>{{subCategory.subCatName}}</a>
          </div>
        </li>
        <!--//dropdown-->
      </div>
      <!--//filters-->

      <app-product-list></app-product-list>

    </div>
    <!--//container-fluid-->
  </section>
  <!--//work-list"-->

  <app-call-to-action></app-call-to-action>
