<div class="header-wrapper header-wrapper-home">

        <div class="bg-slider-wrapper">
            <div id="bg-slider" class="flexslider bg-slider">
                <ul class="slides">
                    <li class="slide slide-1"></li>
                    <li class="slide slide-2"></li>
                    <li class="slide slide-3"></li>
                </ul>
            </div>
        </div><!--//bg-slider-wrapper-->

        <section id="home-promo" class="home-promo section">
            <div class="container text-center">
                <h2 class="title">
                    <span class="upper"><img src="../../assets/logos/TJG logo.svg" alt="The Jerrard Garage" height="60px;"></span>
                    <span class="middle">T-Shirt Printing Singapore</span>
                    <span class="bottom">Customised shirts at cheap price. No minimum order required.</span>
                </h2>
                <button class="btn btn-cta btn-cta-primary" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static">Request for quote</button>
            </div><!--//container-->
        </section><!--//promo-->
    </div><!--//header-wrapper-->

    <!-- ******Why Section****** -->
    <section id="who" class="who section">
        <div class="container text-center">
            <h2 class="title text-center">Why choose us?</h2>
            <p class="intro text-center">Customising a shirt can be a tedious process but we are here to help you get results instantly. We’ll ensure you have a peace of mind and receive your customise shirt happily.</p>
            <div class="row benefits text-center">
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0e1;"></div>
                        <h3 class="sub-title">Quick Turn Around & Delivery</h3>
                        <div class="desc">
                            <p>We work every order with speed and precise. Shortest lead time and delivery for bulk purchase. Lay back relax, we got it all sorted out with a guaranteed a peace of mind.</p>
                        </div>
                    </div>
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0ed;"></div>
                        <h3 class="sub-title">Cheap & Transparent Pricing</h3>
                        <div class="desc">
                            <p>We provide cheap and affordable pricing at competitive rates. We work around with your budget and ensure we deliver a quality services.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#x4e;"></div>
                        <h3 class="sub-title">100% Customer Satisfaction</h3>
                        <div class="desc">
                            <p>We ensure the highest standard of quality for our prints, products and services.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-12">
                    <div class="item-inner">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe106;"></div>
                        <h3 class="sub-title">A Myriad Of Product Apparels</h3>
                        <div class="desc">
                            <p>We carry a wide extensive range of product apparels. Ranging from tee shirts, hoodies, windbreakers, totebags and drawstring bags.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//who-->


    <!-- ******Testimonials Section****** -->
    <section id="testimonials" class="testimonials section">
        <div class="container">
            <h2 class="title text-center">Customer Reviews</h2>
            <p class="intro text-center">Don’t just take our words for it, see what our customers are saying</p>
            <div class="row">
                <div class="item col-lg-6 col-12">
                    <div class="item-inner">
                        <div class="quote-container">
                            <i class="fa fa-quote-left"></i>
                            <blockquote class="quote">We had great experience working with Phasellus ut cursus tellus. Etiam ullamcorper varius diam, nec consequat dolor gravida non. Nullam commodo feugiat arcu, ut scelerisque nisl vulputate eget. Cras a euismod elit.

                            </blockquote><!--//quote-->
                        </div><!--//quote-->
                        <div class="meta">
                            <div class="profile">
                                <img class="img-circle" src="assets/images/client/client-profile-1.png" alt="" />
                                <p class="name">Katherine Hamilton<br />
                                    <span class="source-title">Product Manager</span>
                                </p>
                            </div><!--//profile-->
                            <div class="client-logo">
                                <img class="img-fluid" src="assets/images/client/client-logo-1.png" alt="" />
                            </div><!--//client-logo-->
                        </div><!--//meta-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-lg-6 col-12">
                    <div class="item-inner">
                        <div class="quote-container">
                            <i class="fa fa-quote-left"></i>
                            <blockquote class="quote">Cras condimentum erat vel quam dignissim, eu venenatis velit porta. Praesent fermentum, mi sit amet mollis fringilla, ex risus condimentum mauris, at dapibus ipsum turpis non ipsum.
                            </blockquote><!--//quote-->
                        </div><!--//quote-->
                        <div class="meta">
                            <div class="profile">
                                <img class="img-circle" src="assets/images/client/client-profile-2.png" alt="" />
                                <p class="name">Aaron Brown<br />
                                    <span class="source-title">Marketing Director</span>
                                </p>
                            </div><!--//profile-->
                            <div class="client-logo">
                                <img class="img-fluid" src="assets/images/client/client-logo-2.png" alt="" />
                            </div><!--//client-logo-->
                        </div><!--//meta-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="clearfix"></div>

                <div class="item col-lg-6 col-12">
                    <div class="item-inner">
                        <div class="quote-container">
                            <i class="fa fa-quote-left"></i>
                            <blockquote class="quote">Pellentesque nec maximus justo, a ultrices ligula. Duis sollicitudin suscipit arcu eget interdum. Nullam et porttitor sem, id iaculis eros. Sed feugiat leo et ligula pulvinar, et lobortis velit pretium.
                            </blockquote><!--//quote-->
                        </div><!--//quote-->
                        <div class="meta">
                            <div class="profile">
                                <img class="img-circle" src="assets/images/client/client-profile-3.png" alt="" />
                                <p class="name">Phillip Perry<br />
                                    <span class="source-title">Product Manager</span>
                                </p>
                            </div><!--//profile-->
                            <div class="client-logo">
                                <img class="img-fluid" src="assets/images/client/client-logo-3.png" alt="" />
                            </div><!--//client-logo-->
                        </div><!--//meta-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-lg-6 col-12">
                    <div class="item-inner">
                        <div class="quote-container">
                            <i class="fa fa-quote-left"></i>
                            <blockquote class="quote">We are impressed by lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tellus nisi, maximus vel risus vel, fermentum faucibus magna. Aliquam sed aliquet eros. Nunc nec aliquet ligula.
                            </blockquote><!--//quote-->
                        </div><!--//quote-->
                        <div class="meta">
                            <div class="profile">
                                <img class="img-circle" src="assets/images/client/client-profile-4.png" alt="" />
                                <p class="name">Victoria Simmons<br />
                                    <span class="source-title">Product Designer</span>
                                </p>
                            </div><!--//profile-->
                            <div class="client-logo">
                                <img class="img-fluid" src="assets/images/client/client-logo-4.png" alt="" />
                            </div><!--//client-logo-->
                        </div><!--//meta-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
            <div class="col-12 text-center">
              <a class="btn btn-cta btn-cta-secondary" href="https://www.facebook.com/tjgsingapore/" target="_blank" style="text-center">Write a review for us</a>
            </div>
        </div><!--//container-->
    </section><!--//testimonials-->

    <!-- ******Logos Section****** -->
    <section id="logos" class="logos section">
        <div class="container text-center">
            <h2 class="title">Who we have worked with</h2>
            <!-- <p class="intro">SaaS / Mobile apps / Marketing sites / Internal apps</p> -->
            <ul class="logo-list list-inline row">
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" style="height:100px;" src="assets/logos/CAG.png" alt="Changi Airport Group" /></a></li>
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" src="assets/logos/Found.png" alt="Found" /></a></li>
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" style="height:100px;" src="assets/logos/KFC.png" alt="KFC" /></a></li>
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" src="assets/logos/Mindshare.png" alt="Mindshare" /></a></li>
            </ul><!--//logo-list-->
            <ul class="logo-list list-inline row last">
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" style="height:100px;" src="assets/logos/MSD.png" alt="MSD" /></a></li>
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" style="height:100px;" src="assets/logos/Singtel.png" alt="SingTel" /></a></li>
                <li class="col-md-3 col-6"><a href="#"><img class="img-fluid" src="assets/logos/SQ.png" alt="Singapore Airlines" /></a></li>
            </ul><!--//logos-list-->
        </div><!--//container-->
        <div class="col-12 text-center" style="padding-top: 30px;">
          <a class="btn btn-cta btn-cta-secondary" href="https://www.facebook.com/tjgsingapore/" target="_blank">Browse our portfolio</a>
        </div>
    </section><!--//logos-->

    <!-- FOOTER PARTIALS -->
    <script type="text/javascript" src="./partials/footer.js"></script>

    <!-- Contact Modal -->
    <div class="modal modal-contact" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 id="contactModalLabel" class="modal-title">Customize your prints with us today</h5>
                </div>
                <div class="modal-body">
                    <ul class="contact-info list-inline text-center">
                        <li class="tel list-inline-item"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><br /> <a href="tel:+6597581071">9758 1071</a></li>
                        <li class="email list-inline-item"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br /> <a href="mailto:sales@tjg.sg">Sales@tjg.sg</a></li>
                    </ul>
                    <p class="intro text-left">All fields required.</p>
                    <form id="contact-form" class="contact-form validate" method="post" action="https://tjg.us18.list-manage.com/subscribe/post?u=9f6a6cd28cfe642c2c203c876&amp;id=c9ca3040eb" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="row text-center">
                            <div class="contact-form-inner">
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-12 form-group">
                                        <label class="sr-only" for="mce-NAME">Your name</label>
                                        <input type="text" class="form-control" id="cname" name="NAME" placeholder="Your name" minlength="2" required>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12 form-group">
                                        <label class="sr-only" for="mce-EMAIL">Email address</label>
                                        <input type="email" class="form-control" id="cemail" name="EMAIL" placeholder="Your email address" required>
                                    </div>
                                    <div class="col-lg-12 col-12 form-group">
                                        <label class="sr-only" for="mce-MESSAGE">Your message</label>
                                        <textarea class="form-control" id="cmessage" name="MESSAGE" placeholder="Enter your message" rows="12" required></textarea>
                                    </div>
                                    <div id="mce-responses" class="clear">
                                  		<div class="response" id="mce-error-response" style="display:none"></div>
                                  		<div class="response" id="mce-success-response" style="display:none"></div>
                                  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                     <div class="col-lg-12 col-12 form-group">
                                        <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Send Message</button>
                                    </div>
                                </div><!--//row-->
                            </div>
                        </div><!--//row-->
                        <div id="form-messages"></div>
                    </form><!--//contact-form-->
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='NAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MESSAGE';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
